@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=VT323&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --black: #000000;
    --lemon: #FFD583;
    --pink: #EBC2BF;
    --lavender: #C8BBE3;
    --hotpink: #ff5ca0;
    --body: "Inter";
    --heading: "VT323"

}
body {
    font-family: "Inter";
    margin: 0 auto;
}
